<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FinCiclo</title>
</head>
<body>
{{#bienvenida}}
	<h1>Bienvenido</h1>
	{{/bienvenida}}
	
	<h1>MODULOS</h1>
	{{#opcionesModulo}}
		<a href="/opcion/{{idModulo}}">{{nombre}}</a>
	{{/opcionesModulo}}
	
	{{#hasSubModulos}}
		<h1>SUB MODULOS</h1>
	{{/hasSubModulos}}
	{{#subModulos}}
		<a href="/opcionSubmodulo/{{idSubModulo}}">{{nombreSubModulo.nombre}}</a>
	{{/subModulos}}
	
	{{#hasRecursosEspecificos}}
		<h1>RECURSOS ESPECIFICOS</h1>
	{{/hasRecursosEspecificos}}
	{{#recursosEspecificos}}
		<a href="/opcionRecursoEspecifico/{{idRecursoEspecifico}}">{{nombreRecursoEspecifico.nombre}}</a>
	{{/recursosEspecificos}}
	
	{{#hasRecursos}}
		<h1>RECURSOS </h1>
	{{/hasRecursos}}
	{{#recursos}}
		<a href="/opcionRecurso/{{idRecurso}}">{{nombre}}</a>
	{{/recursos}}
	
	{{#detallesRecurso}} 
	 		<h2>Nombre</h2>
    		 {{nombre}}
    		  {{#descripcion}} 
    		  	 <h2>descripcion</h2>
    			 {{descripcion}}
    		  {{/descripcion}}
    		  {{#codigo}} 
    		  	 <h2>Codigo</h2>
    			 {{codigo}}
    		  {{/codigo}}
    		  
    		  {{#parametros}} 
    		  	 <h2>nombre</h2>
    		  	 {{nombre}}
    			 {{#tipoDeDato}} 
	    		  	 <h2>tipo</h2>
	    			 {{tipoDeDato}}
    		  	 {{/tipoDeDato}}
    		  	 {{#direccion}} 
	    		  	 <h2>direccion</h2>
	    			 {{direccion}}
    		  	 {{/direccion}}
    		  {{/parametros}}
    		  
	{{/detallesRecurso}}
	
	
	
	<a href="/adminTools"><button>Herramientas BD</button></a>
	
	
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>